{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.responsive {
    width: 100%;
    height: auto;
}
</style>

<link rel="stylesheet" href="{% static 'basestyle.css' %}" />
<h1 style="color:#000000;'">ATEN</h1>
{% for m in main %}
<!-- You will not be able to see this text. -->

<!-- You will not be able to see this text. -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    background: white;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 2px 2px 0 0;
}

.container {
    padding: 2px 16px;
}
</style>
<center>
<div class="card">
  <a href="{% url 'second' m.pk %}">
  <img src="{{ m.productImageUrl }}" alt="Avatar"  height="auto" style="width:100%;">
  </a>
  <div class="container">
    <h1 style="color: black;"><b>{{ m.productTitle }}</b></h1>
  </div>
</div>
  <p style="color: white;">hello</p>
</center>
 {% endfor %}
 {% endblock %}
